{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="favicon.ico">
    <title>MadClik</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style1.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/search.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MadClik</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a "/"><i class="glyphicon glyphicon-home"></i></a>
                    </li>
                    <li><a href="/zone/postad">Post Rent</a></li>
                    <li><a href="/">Request Rent</a></li>
                    <li><a href="/">Item X</a></li>
                    <li><a href="/zone/contactus">Contact Us</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    
    <div class="container landingpage">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <form>
        <div class="row">
            <div class="col-lg-12" align="center">
                <div class="input-group custom-search-form col-lg-4">
                    <form id="formsearch" method="post" action="/zone/search/">
                      {% csrf_token %}
                      <input type="text" name="adtitle" class="form-control input-contrast" placeholder="Search the site">
                      <span class="input-group-btn">
                        <button class="btn btn-default src-btn-clr" type="submit" formmethod="post" formaction="/zone/search/">
                           <span class="glyphicon glyphicon-search"></span>
                        </button>
                      </span>
                    </form>
                </div>
                <!-- /input-group -->
            </div>
        </div>
        
    </div>
    
    <!-- /container -->
    <!-- Footer -->
    <div id="footer">
        <!-- container -->
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="#">Terms and Conditions</a></div>
                <div class="col-md-4">
                    <a href="#">How it Works</a></div>
                <div class="col-md-4">
                    <a href="#"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="#"><i
                        class="fa fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="#"><i class="fa fa-linkedin">
                        </i></a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="#"><i class="fa fa-youtube"></i></a>
                    &nbsp;&nbsp;&nbsp;&nbsp; <a href="#"><i class="fa fa-google-plus"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /Footer -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap.min.js'%}" type="text/javascript"></script>
</body>
</html>
