{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="favicon.ico">
    <title>MadClick</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/stylereachus.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/style3.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="pagebody_reach">
<div id="header2">
		 	<a href="/"><div id="top_logo"></div></a>
			<div class="h_ads"><a href="/zone/postad">START RENTING</a></div>
	</div>
    <!-- Fixed navbar -->
    <!--
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MadClick</a>
            </div>
			
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="index.html"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="postrent.html">Post Rent</a></li>
                    <li><a href="requestrent.html">Request Rent</a></li>
                    <li><a href="itemx.html">Item X</a></li>
                    <li class="active"><a href="contactus.html">Contact Us</a></li>
                </ul>
            </div>
         
        </div>
    </div>
	-->

<div id="reach_us">
        <br />
        <h1 align=left>Reach Us </h1>
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" /></div>
                        </div>
                        <div class="form-group">
                            <label for="website">
                                Website</label>
                            <input type="text" class="form-control" id="website" placeholder="Enter website" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Message</label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            Send Message</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
            <legend><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;Get Directions</legend>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248849.84916296526!2d77.6309395!3d12.9539974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1670c9b44e6d%3A0xf8dfc3e8517e4fe0!2sBangalore%2C+Karnataka!5e0!3m2!1sen!2s!4v1396103988669"
                width="100%" height="100%"></iframe>
            <address align=left>
                <strong>MadClick</strong><br />
                Bangalore<br />
                Karnataka<br />
                </address>
            <address align=left>
                <strong>Full Name</strong><br />
                <a href="mailto:#">madclik.com</a>
            </address>
            </form>
        </div>
    </div>
	</div>
    <!-- /container -->
    <!-- Footer -->
	<!--
    <div id="footer">
        
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="#">Terms and Conditions</a></div>
                <div class="col-md-4">
                    <a href="#">How it Works</a></div>
                <div class="col-md-4">
                    <a href="#"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="#"><i
                        class="fa fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="#"><i class="fa fa-linkedin">
                        </i></a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="#"><i class="fa fa-youtube"></i></a>
                    &nbsp;&nbsp;&nbsp;&nbsp; <a href="#"><i class="fa fa-google-plus"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
			
            </div>
        </div>
        <!-- /container -->
	<div id="footer2">

<div id="copyright">
	<p><font color="#ffffff"><a href="/zone/termsofuse/">Terms of use</a> | <a href="/zone/reachus/" rel="nofollow">Reach Us</a></font></p>
</div>	
<div id="link">
<object width='217' height='32'><embed src='http://www.socialbuttonmaker.com/Swfs/fcda78f6-ba6a-40f3-992a-8df80efebb6e/button.swf' type='application/x-shockwave-flash' width='217' height='32' loop='false' wmode='transparent'><noscript><a href='http://themeparksindisney.com/'>theme parks in disney</a></noscript></embed><img src='' width=0 height=0 id='flashbutton'/><script type='text/javascript' src='http://www.socialbuttonmaker.com/Scripts/FlashButton.js'></script></object>	
</div>
<div id="copy">
<p><font color="#ffffff">Copyright (c) 2014 <a href="http://madclik.com/"><font color="#ffffff">Madclik.com.</font></a> All rights reserved</font></p>
</div>
</div>
</div>
</div>

	</div>
	
</body>
</html>
