{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns:fb="http://ogp.me/ns/fb#">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Madclik</title>
		<meta name="description" content="." />
		
		<link rel="stylesheet" href="{% static 'css/style3.css' %}" type="text/css" media="screen" />
		<style type="text/css">
        </style>


		</head>
<body>
	<!--main page-->	
<!-- AddThis Button BEGIN -->
	<div id="pageBody">
	<div id="header1">
		 	<a href="/"><div id="top_logo"></div></a>
			<div class="h_ads"><a href="/zone/postad">START RENTING</a></div>
	</div>
	
<div id="tearms_use">
<PRE>TIPS 
 
Here are a few tips which might help you rent or hire an item.
 
<h2> RENTEE </h2>
 
1. Call the renter , confirm if the item is still available and save some of your valuable time.
 
2. Ask for his conditions for renting if any before hand so that there are no unwanted complications later.
 
3. Check for defects and inform the renter before you leave home with your item.
 
4. Return the item in the same way u received it , keep the renter happy for future renting.
 
 
RENTER
 
1. Try to fill in as many details as possible while posting the item . This will reduce the number of people calling you     
   when you are busy.
 
2. Explain your terms and conditions before you give away your item.
 
3. Be clear on all the charges you apply.  </PRE>

</div>

	<div id="footer">

<div id="copyright">
	<p><font color="#ffffff"><a href="/zone/termsofuse/">Terms of use</a> | <a href="/zone/reachus/" rel="nofollow">Reach Us</a></font></p>
</div>	
<div id="link">
<object width='217' height='32'><embed src='http://www.socialbuttonmaker.com/Swfs/fcda78f6-ba6a-40f3-992a-8df80efebb6e/button.swf' type='application/x-shockwave-flash' width='217' height='32' loop='false' wmode='transparent'><noscript><a href='http://themeparksindisney.com/'>theme parks in disney</a></noscript></embed><img src='' width=0 height=0 id='flashbutton'/><script type='text/javascript' src='http://www.socialbuttonmaker.com/Scripts/FlashButton.js'></script></object>	
</div>
<div id="copy">
<p><font color="#ffffff">Copyright (c) 2014 <a href="http://www.madclik.com/"><font color="#ffffff">Madclik.com.</font></a> All rights reserved</font></p>
</div>
</div>

</div>

	</body>

</html>
